@page "/membership-status"
@using Acme.BookStore.Memberships
@using Acme.BookStore.Plans
@inject IMembershipAppService MembershipAppService
@inject IPlanAppService PlanAppService

<h3>Membership Status</h3>

@if (membership != null && plan != null)
{
    <Card>
        <CardBody>
            <CardTitle>@plan.Name</CardTitle>
            <CardText>
                @if (membership.EndDate.HasValue)
                {
                    <span>Expires on @membership.EndDate.Value.ToShortDateString()</span>
                }
                else
                {
                    <span>@membership.RemainingDocuments documents remaining</span>
                }
            </CardText>
        </CardBody>
    </Card>
}
else
{
    <p>You do not have an active membership.</p>
}

@code {
    private MembershipDto membership;
    private PlanDto plan;

    protected override async Task OnInitializedAsync()
    {
        membership = await MembershipAppService.GetActiveMembership();
        if (membership != null)
        {
            plan = await PlanAppService.GetAsync(membership.PlanId);
        }
    }
}
